body {
  margin: 0;
}
head {
  box-sizing: content-box;
}
/* NAVBAR */
.navbar-brand img {
  width: 30px;
}
/* HOME SECTION */
.home {
  height: 80vh;
}
.bg-video {
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -9;
  background-clip: border-box;
}
/* PRESENTATION SECTION */
.first-section,
.services,
.results {
  width: 80%;
}
.logo {
  width: 20rem;
}
.title {
  text-shadow: #e0e0e0 1px 1px 0;
}
.blue {
  color: rgb(66, 22, 48);
}
.img-presentation {
  border-radius: 3%;
  width: 80%;
}

/* SERVICES (WHAT CAN...) SECTION*/
.services img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 500ms ease-out;
}
.services h3 {
  font-size: xx-large;
}
.window-bg {
  height: 40vh;
  background: url(./images/pexels-pixabay-416320.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
}
.box {
  background-color: rgb(255, 255, 255);
  height: 0%;
  z-index: 1;
}
.box2 {
  height: 80%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.phrase {
  font-size: 2rem;
}

/* OUR CLIENTS SECTION */
.clients {
  height: 100%;
  background: linear-gradient(rgba(5, 7, 12, 0.493), rgba(5, 7, 12, 0.329)),
    url(./node_modules/bootstrap/images/pexels-thirdman-7651924.jpg);
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 0;
}
.carousel-inner img {
  width: 100vh;
  height: 80vh;
}
.carousel-caption h5 {
  font-size: 7rem;
}
.card img {
  height: 50%;
}
.testimonial-card {
  width: 50%;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
.text-black {
  color: black;
}
.bg-window {
  background-color: #efefef79;
}
/* CONTACT SECTION */

.contact {
  padding: 3.5rem;
}

.icon {
  font-size: 2rem;
  color: black;
}
.icon:hover {
  color: rgba(9, 29, 80, 0.541);
}
.buttons:hover {
  color: rgba(9, 29, 80, 0.541);
}

/* TEXT EFFECTS */
.animate {
  opacity: 0;
  transition: all 0.8s;
}
.appear-up {
  animation: appear-rigth 1s;
}

@keyframes appear-rigth {
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}
